<main class="container">
  <div class="author">
    <h1 class="author__heading">Hi , I am Arun</h1>
    <p class="author__body">A Web developer based in India</p>
  </div>

  <img
    src="/img/coding.jpg"
    alt="a laptop with coding interface"
    class="hero-image"
    width="981"
    height="528"
  />

  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
      <% posts.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"
            ><%= post.createdAt.toDateString() %></span
          >
        </a>
      </li>
      <% }) %>
    </ul>
  </section>
</main>
